
.contmenu nav .menu-menu-principal-container #menu-menu-principal{
    margin-bottom: 0px;
}
/*-------- compras bajo pedido --------*/
.background{
    background: #f9f9f9;
}
.title-principal .row h1{
    font-size: 14pt;
    font-family: "Open Sans";
    color: #e57815;
    padding-bottom: 10px;
    font-weight: bold;
}
.title-principal .row hr{
    border-top: 1px solid #e57815;
}
/*---- nav taps ----*/
.co-general .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #1F3553;
    color: #FFFFFF;
}
.co-general .nav-pills .nav-link.active{
    color: #e57815;
}
.co-general .nav-pills .nav-link{
    border-radius: 0px;
}
.co-general .nav-pills a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #131313;
    font-size: 10pt;
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 22px;
}
.co-general .nav-pills a:hover{
    color: #e57815;
}
.co-general .row .tab-content .tab-pane h2{
    color: #222222;
    font-family: "Open Sans";
    font-size: 22pt;
    font-weight: bold;
}
.co-general .row .col-10{
    padding-left: 40px;
}

.co-pasos .cabezote img{
    float: left;
}
.co-pasos .cabezote p{
    font-family: "Open Sans";
    color: #1F3553;
    text-align: justify;
    font-weight: 300;
}
.co-pasos .cont-comprar .row .cabezote{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 90px;
}
.co-pasos .cont-comprar .row .im-cabezote{
    text-align: center;
}
.co-pasos .cont-comprar .row .cabezote p{
    margin-bottom: 0px;
    padding-left: 15px;
}
.co-pasos .cont-comprar .row .im-cabezote img{
    width: 30%;
    margin: 0 auto;
}
.tiendas{
    justify-content: center;
}
.tiendas a img{
    padding: 20px;
}
.quienes-somos p{
    font-family: "Open Sans";
    font-size: 11pt;
    color: #666666;
    line-height: 2;
    font-weight: 300;
}
.form_nav input.wpcf7-form-control{
    font-family: "Open Sans";
    font-weight: 300;
    width: 60%;
    margin-bottom: 17px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
    height: 32px;
    line-height: 32px;
}
.form_nav textarea.wpcf7-form-control{
    font-family: "Open Sans";
    font-weight: 300;
    width: 60%;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
}
.form_nav input.wpcf7-form-control.wpcf7-submit{
    font-family: "Open Sans";
    font-weight: 300;
    width: 10%;
    display: block;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    height: unset;
    line-height: unset;
    color: #333333;
}
.form_nav input.wpcf7-form-control::-webkit-input-placeholder {
    color: #aaaaaa;
}
.form_nav input.wpcf7-form-control:-moz-placeholder {
    color: #aaaaaa;
}
.form_nav input.wpcf7-form-control::-moz-placeholder {
    color: #aaaaaa;
}
.form_nav input.wpcf7-form-control:-ms-input-placeholder {
    color: #aaaaaa;
}
.form_nav textarea.wpcf7-form-control::-webkit-input-placeholder {
    color: #aaaaaa;
}
.form_nav textarea.wpcf7-form-control:-moz-placeholder {
    color: #aaaaaa;
}
.form_nav textarea.wpcf7-form-control::-moz-placeholder {
    color: #aaaaaa;
}
.form_nav textarea.wpcf7-form-control:-ms-input-placeholder {
    color: #aaaaaa;
}
/*---- end nav taps ----*/
/*---- menu mobil ----*/
.menu-mobil {
    width:100%;
    position: relative;
    z-index: 999999999;
    display: none;
    font-family: "Open Sans";
}

.menu-mobil nav {
    width:90%;
    max-width:1000px;
    margin:20px auto;
    background:#16263cfa;
}

.menu_bar {
    display:none;
}

.menu-mobil nav ul {
    overflow:hidden;
    list-style:none;
}

.menu-mobil nav ul li {
    float:left;
}

.menu-mobil nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    text-decoration:none;
}

.menu-mobil nav ul li span {
    margin-right:10px;
}

.menu-mobil nav ul li a:hover {
    background:#E57815;
}

section {
    padding:20px;
}


/*-------- end compras bajo pedido --------*/

/*-------- Solicitud de cotizacion --------*/
.solicitudCotizacion{
    min-height: 250px;
    align-items: center;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.solicitudCotizacion .coti1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.solicitudCotizacion .coti1 img{
    width: 90%;
    margin-bottom: 10px;
}
.solicitudCotizacion .coti1 a{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 0.3s all ease-in;
}
.solicitudCotizacion .coti1 a:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s all ease-out;
    background: #fff;
    color: #e57815;
}
.solicitudCotizacion .coti2 h3{
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.solicitudCotizacion .coti2 .title-coti{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.solicitudCotizacion .coti2 .title-coti img{
    float: left;
}
.solicitudCotizacion .coti2 input[type="text"],
.solicitudCotizacion .coti2 textarea{
    font-family: "Open Sans";
    font-weight: 300;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
    height: 32px;
    line-height: 32px;
}
.solicitudCotizacion .coti2 input[type="email"]{
    font-family: "Open Sans";
    font-weight: 300;
    width: 50%;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
    height: 32px;
    line-height: 32px;
}
.solicitudCotizacion .coti2 input[type="tel"]{
    font-family: "Open Sans";
    font-weight: 300;
    width: 50%;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
    height: 32px;
    line-height: 32px;
    float: right;
}
.solicitudCotizacion .coti2 input[type="submit"]{
    font-family: "Open Sans";
    font-weight: 300;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    height: unset;
    line-height: unset;
    color: #333333;
}
/*-------- end Solicitud de cotizacion --------*/
/*-------- news letter --------*/
.cont-newsletter{
    background-color: rgb(243, 241, 241);
    padding-top: 50px;
    padding-bottom: 50px;
}
.cont-newsletter .row{
    width: 90%;
    margin: 0 auto;
}
.cont-newsletter .news1{
    text-align: center;
    border-right: 1px solid #ed7d1a;
}
.cont-newsletter .news2{
    display: flex;
    justify-content: center;
}
.cont-newsletter .news2 input[type="email"]{
    font-family: "Open Sans";
    font-weight: 300;
    width: 94%;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
    height: 32px;
    line-height: 32px;
}
.cont-newsletter .news2 input[type="submit"]{
    background-color: #ed7d1a;
    background-image: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0) #a2a2a2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0);
    vertical-align: middle;
    padding: 3px 140px;
    color: #fff !important;  
}
/*-------- end news letter --------*/

