/* Generales */

.container{
    max-width: 1200px !important;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}


/* Header and Top Header Styles */
.contheader .car-search-soc{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.contheader{
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-top: 8px solid #e77800;
    padding-top: 10px;
}
.contheader .container .row{
    align-items: center;
}
.container .buscador{
    display: flex;
    justify-content: center;
}
.container .buscador form .yith-s{
    font-family: "Open Sans";
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
}
.container .buscador form #yith-searchsubmit{
    font-family: "Open Sans";
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid #d46f02;
    background-color: #E77801;
    padding: 4px 5px;
    color: #ffffff;
}
.contheader .car-search-soc .social-media{
    display: flex;
    align-items: center;
}
.contheader .car-search-soc .car{
    margin-right: 25px;
}
.contheader .car-search-soc .car img{
    margin-right: 12px;
}
.contheader .car-search-soc .search{
    margin-right: 15px;
    width: 230px;
    border: 2px solid #1F3553;
    padding: 5px;
    border-radius: 8px;
    font-size: 10pt;
    font-family: "Open Sans";
}
.contmenu{
    background-color: #1F3553;
    margin-top: 15px;
}
.contmenu nav .menu-menu-principal-container #menu-menu-principal{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contmenu nav .menu-menu-principal-container #menu-menu-principal li{
    list-style: none;
}
.contmenu nav .menu-menu-principal-container #menu-menu-principal li a{
    font-family: "Open Sans";
    font-size: 9pt;
    font-weight: normal;
    color: #fff;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contmenu nav .menu-menu-principal-container #menu-menu-principal li.current-menu-item a{
    border-top: 3px solid #E57815;
    color: #E57815;
}

/* Footer Styles */

footer{
    width: 100%;
    background-color: #1F3553;
    border-bottom: 15px solid #E57815;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .menu-menu-footer-container .menu{
    display: flex;
    padding-inline-start: 0 !important;
    justify-content: center;
}
footer .menu-menu-footer-container .menu li{
    list-style: none !important;
}
footer .menu-menu-footer-container .menu li a{
    font-family: "Open Sans";
    color: #fff;
    font-size: 9pt;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .menu-menu-footer-container .menu li.current-menu-item a{
    font-family: "Open Sans";
    border-top: 3px solid #E57815;
    color: #E57815;
}
footer .data-footer{
    margin-top: 35px;
}
footer .data-footer .contacto_footer{
    padding-inline-start: 0 !important;
}
footer .data-footer .contacto_footer li{
    font-family: "Open Sans";
    color: #fff;
    list-style: none !important;
}
footer .data-footer .pago_footer p{
    font-family: "Open Sans";
    color: #fff;
    text-align: center;
    margin-bottom: 5px !important;
}
footer .data-footer .pago_footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer .data-footer .copy{
    padding-inline-start: 0 !important;
}
footer .data-footer .copy li{
    color: #fff;
    text-align: right;
    list-style: none !important;
}
footer .data-footer .metodos_pago{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .data-footer .metodos_pago .envio a{
    background: #ed7d1a;
    width: 80%;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 7px 20px 7px 20px;
    border-radius: 4px;
    transition: 0.3s all ease-in;
}
footer .data-footer .metodos_pago .envio a:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s all ease-out;
}
footer .data-footer .metodos_pago a img{
    float: left;
    padding-right: 10px;
}
footer .data-footer .metodos_pago a p{
    margin: 0px;
}
footer .data-footer .metodos_pago .c-redes{
    justify-content: center;
    padding-bottom: 13px;
}
footer .data-footer .metodos_pago .c-redes a img{
    transition: 0.3s all ease-in;
}
footer .data-footer .metodos_pago .c-redes a img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s all ease-out;
}
footer .data-footer .metodos_pago .envio{
    display: flex;
    justify-content: center;
}


/* Pagina Contacto */
.page-contacto .banner_contacto img{
    width: 100%;
}
.page-contacto .datos_Contacto .box_data {
    display: flex;
}
.page-contacto .datos_Contacto .box_data .box_data_text h3{
    font-family: "Open Sans";
    font-size: 20px;
    color: #E57815;
    font-weight: bold;
}
.page-contacto .datos_Contacto .box_data .box_data_text p,
.page-contacto .datos_Contacto .box_data .box_data_text a{
    font-family: "Open Sans";
    font-size: 15px;
    color: #0000007d;
    line-height: 20px;
}
.page-contacto .datos_Contacto .box_data .box_data_text a{
    display: block;
}
.page-contacto  h1{
    margin-top: 48px;
    font-size: 35px;
    font-weight: bold;
}
.page-contacto .datos_Contacto{
    margin-top: 36px;
    border-bottom: 1px solid #E57815;
    padding-bottom: 70px;
}
.page-contacto .caja_form{
    margin-top: 47px;
}
.page-contacto .box_form p{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 15px;
    color: #666666;
}
.page-contacto .box_form{
    padding-left: 50px;
}
.page-contacto .box_form input.wpcf7-form-control{
    font-family: "Open Sans";
    font-weight: 300;
    width: 100%;
    margin-bottom: 17px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
    height: 32px;
    line-height: 32px;
}
.page-contacto .box_form textarea.wpcf7-form-control{
    font-family: "Open Sans";
    font-weight: 300;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    padding: 4px 5px;
    color: #aaaaaa;
}
.page-contacto .box_form input.wpcf7-form-control.wpcf7-submit{
    font-family: "Open Sans";
    font-weight: 300;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #fff;
    height: unset;
    line-height: unset;
    color: #333333;
}
.page-contacto .box_form input.wpcf7-form-control::-webkit-input-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form input.wpcf7-form-control:-moz-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form input.wpcf7-form-control::-moz-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form input.wpcf7-form-control:-ms-input-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form textarea.wpcf7-form-control::-webkit-input-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form textarea.wpcf7-form-control:-moz-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form textarea.wpcf7-form-control::-moz-placeholder {
    color: #aaaaaa;
}
.page-contacto .box_form textarea.wpcf7-form-control:-ms-input-placeholder {
    color: #aaaaaa;
}

/* Pagina Importaciones */
.page-importaciones .banner_importaciones img{
    width: 100%;
}
.page-importaciones h1{
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}
.page-importaciones h2{
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}
.page-importaciones  .container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style page Inicio  */

.inicio .titles h2{
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: bold;
    color: #E57815;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
.inicio .titles h2::after{
    content: "";
    width: 610px;
    height: 1px;
    background-color: #F0F0F0;
    position: absolute;
    right: -14%;
    top: 50%;
}
.inicio .titles h2::before{
    content: "";
    width: 610px;
    height: 1px;
    background-color: #F0F0F0;
    position: absolute;
    left: -14%;
    top: 50%;
}
.inicio .products_destacados{
    padding-inline-start: 0 !important;
    list-style-type: none !important;
    position: relative;
}
.inicio .products_destacados .product-destacado h3{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #303030 !important;
}
.inicio .products_destacados .owl-prev{
    position: absolute;
    left: 0;
    top: 31%;
    background-color: #E57815 !important;
    width: 36px;
    height: 54px;   
}
.inicio .products_destacados .owl-next{
    position: absolute;
    right: 0;
    top: 31%;
    background-color: #E57815 !important;
    width: 36px;
    height: 54px;   
}
.inicio .products_destacados .owl-prev span{
    color: #fff;
    font-size: 18px;
}
.inicio .products_destacados .owl-next span{ 
    color: #fff;
    font-size: 18px; 
}
.inicio .all-products .products{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0 !important;
    list-style-type: none !important;
}
.inicio .all-products .products .productos h4{
    text-align: center !important;
    font-size: 16px !important;
    color: #1A1A1A;
    line-height: 22px !important;   
}
.inicio .all-products .products .productos .price{
    font-family: "Open Sans";
    font-weight: 300;
    display: block;
    text-align: center;
    font-size: 12.75px;
    color: #666;

}
.inicio .all-products .products .productos img{
    width: 100%;
    height: auto;
}
/* Productos */
.productosPage .all-products{
    margin-top: 35px;
}
.productosPage .all-products .products{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0 !important;
    list-style-type: none !important;
}
.productosPage .all-products .products .productos h4{
    text-align: center !important;
    font-size: 16px !important;
    color: #1A1A1A;
    line-height: 22px !important;   
}
.productosPage .all-products .products .productos .price{
    font-family: "Open Sans";
    font-weight: 300;
    display: block;
    text-align: center;
    font-size: 12.75px;
    color: #666;

}
.productosPage .all-products .products .productos img{
    width: 100%;
    height: auto;
}

/* Ofertas */
.ofertas .all-products{
    margin-top: 35px;
}
.ofertas .all-products .products{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0 !important;
    list-style-type: none !important;
}
.ofertas .all-products .products .productos h4{
    text-align: center !important;
    font-size: 16px !important;
    color: #1A1A1A;
    line-height: 22px !important;   
}
.ofertas .all-products .products .productos .price{
    font-family: "Open Sans";
    font-weight: 300;
    display: block;
    text-align: center;
    font-size: 12.75px;
    color: #666;

}
.ofertas .all-products .products .productos img{
    width: 100%;
    height: auto;
}
.ofertas .banner_contacto{
    width: 100%;
}
.ofertas .banner_contacto img{
    width: 100%;
}

/* Styles Categories*/
.title_categories{
    font-family: "Open Sans";
    font-weight: 700;
    font-family: "Open Sans";
    font-weight: 700;
    background: #E57815;
    color: #fff;
    padding: 8px 21px 8px 10px;
    font-size: 20px;
    margin-bottom: 30px;    
}
.categories{
    padding-inline-start: 0;
    list-style-type: none;
    margin-bottom: 60px;
}
.categories li{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #1F3553;
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans";
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    padding: 3px 21px 3px 10px;
    font-size: 15px;
    font-family: "Open Sans";   
}
.categories li.active{
    background-color: #E57815;   
}
.categories li:hover{
    background-color: #E57815;  
}
.categories #category-4{
    display: none;
}
.categories #category-1{
    display: none;
}
.categories #category-39{
    display: none;
}
.categories #category-18{
    display: none;
}
.categories #category-3{
    display: none;
}
.categories #category-2{
    display: none;
}
/* Style Woocommerce Cart*/
.cart .woocommerce{
    margin-top: 60px;
    margin-bottom: 60px;
}
.cart .woocommerce .woocommerce-cart-form .shop_table thead tr th{
    font-family: "Open Sans";
    font-weight: 700;   
}
.cart .woocommerce a.remove:hover {
    background-color: #E57815 !important;
}

.cart .woocommerce a.remove {
    color:#E57815 !important;
}
.cart .woocommerce .woocommerce-cart-form .shop_table tbody tr td.product-name a{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #666;   
}
.cart .woocommerce .woocommerce-cart-form .shop_table tbody tr td.product-price .woocommerce-Price-amount{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #666;   
}
.cart .woocommerce .woocommerce-cart-form .shop_table tbody tr td.product-quantity .quantity .qty{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #666;   
}
.cart .woocommerce .woocommerce-cart-form .shop_table tbody tr td.product-subtotal .woocommerce-Price-amount{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #666;   
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background-color: #E57815 !important; 
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
    background-color: #1F3553 !important; 
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    background-color: #E57815 !important;
    color: #fff !important;     
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    background-color: #1F3553 !important;
    color: #fff !important;     
}
.cart .woocommerce table.cart td.actions .input-text{
    width: 120px !important;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
}

/* Style Woocommerce Checkout */
.checkout #customer_details .col-1{
    flex: 0 0 48%;
    max-width: 48%;
}
.checkout #customer_details .col-2{
    flex: 0 0 48%;
    max-width: 48%;
}
.checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row{
    width: 100%;
}
.checkout .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 47% !important;
    overflow: visible;
}
.checkout .woocommerce form .form-row label {
    width: 100%;
}
.checkout .woocommerce form .woocommerce-input-wrapper{
    width: 100%;
}
.checkout .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    padding: 15px;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid;
}
.checkout .woocommerce form .form-row label, .woocommerce-page form .form-row label {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;    
}
.checkout .woocommerce-form-coupon-toggle .woocommerce-info a.showcoupon{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px; 
    color: #1F3553;
}
.checkout .woocommerce-form-coupon-toggle .woocommerce-info a.showcoupon:hover{
    color: #E57815;
    text-decoration: underline;
}
body .woocommerce-info {
    border-top-color: #E57815;
}
body .woocommerce-info::before {
    color: #E57815;
}
body .woocommerce form .form-row .required{
    color: #E57815;   
}
body .woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text .woocommerce-privacy-policy-link{
    color: #E57815; 
}

/* Styles Woocommerce Order*/
.woocommerce-order .woocommerce-notice.woocommerce-notice--success{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px; 
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #4f4f4f;
    border-radius: 3px;
    padding: 25px;
}
.woocommerce-order .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td a{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    color: #666;     
}

/* Styles Detail Product */
.woocommerce-breadcrumb{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #666;
    font-size: 18px;
}
.woocommerce-breadcrumb a{
    color: #1F3553;
}
.detailProduct .product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.detailProduct .product .woocommerce-product-gallery{
    width: 50%;
}
.detailProduct .product .summary{
    width: 50%;
}
.detailProduct .product .flex-control-nav{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    list-style: none;
    align-items: center;
}
.detailProduct .product .flex-control-nav li{
    width: calc(100% / 4);
}
.detailProduct .product .flex-control-nav li img{
    width: 100%;
}
.detailProduct .product .summary .cart{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.detailProduct .product .summary .cart .quantity{
    width: 20%;
    margin-right: 15px;
}
.detailProduct .product .summary .cart .quantity input{
    width: 100%;
    background-color: #1F3553;
    border: 1px solid #fff;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 18px; 
}
.detailProduct .product .summary .cart .single_add_to_cart_button{
    background-color: #E57815;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 700; 
    font-size: 18px;
    border: 0px;
}
.detailProduct .product .summary .cart .single_add_to_cart_button:hover{
    background-color: #1F3553;
}
.detailProduct .product .summary .product_title{
    font-family: "Open Sans";
    font-weight: 700; 
}
.detailProduct .product .summary .price .woocommerce-Price-amount{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #666;   
}
.detailProduct .product .summary .product_meta{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;    
}
.detailProduct .product .summary .product_meta a{
    color: #1F3553;    
}
