
@media screen and (max-width:800px ) {
	.contmenu{
		display: none;
	}
    .menu-mobil{
        display: block;
    }
    .menu-mobil nav {
        width:80%;
        left:-100%;
        margin:0;
        position: absolute;
    }

    .menu-mobil nav ul li {
        display:block;
        float:none;
    	border-bottom: 1px solid #e5781569;
    }

    .menu_bar {
        display:block;
        width:100%;
        background:#ccc;
    }

    .menu_bar .bt-menu {
        display:block;
        padding:16px;
        background:#1F3553;
        color:#fff;
        text-decoration:none;
        font-weight: bold;
        font-size:25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

    .menu_bar span {
        float:right;
        font-size:40px;
        color: #E57815;
    }
}
/*---- end menu mobil ----*/
/* Larger than tablet */
@media (max-width: 768px) {
	.logo{
		text-align: center;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.contheader .car-search-soc .search{
		width:210px;
	}
	.contheader .car-search-soc{
		padding-bottom: 10px;
	}
	footer .data-footer{
		text-align: center;
	}
	footer .data-footer .col-md-4{
		padding-bottom: 20px;
	}
	footer .data-footer .copy li{
		text-align: center;
	}
}